/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  height: 193.1px;
  background-color: pink;
  border: solid 1px black;
}

[class*="nestcol-"] {
  height: 193.1px;
  background-color: pink;
  border: solid 1px black;
}

.nestcol-2 {
  height: 100%;
  width: 20%;
  background-color: red;
  border: solid 1px white;
}
