/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  height: 193.1px;
  background-color: pink;
  border: solid 1px black;
  padding: 3px 3px 3px 3px;
}

[class*="nestcol-"] {
  height: 193.1px;
  background-color: pink;
  border: solid 1px black;
}

.nestcol-2 {
  height: 100%;
  width: 20%;
  background-color: rgb(199,21,133);
  border: solid 1px white;
}

.nestcol-8 {
  height: 100%;
  width: 60%;
  background-color: rgb(199,21,133);
  border: solid 1px white;
}

.nestcol-6 {
  height: 100%;
  width: 50%;
  background-color: rgb(199,21,133);
  border: solid 1px white;
}
